.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.connect-wallet-button svg {
  vertical-align: text-top;
}



/* Loading */
.loading-page {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}